<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi página</title>
    <link rel="stylesheet" href="/css/repaso.css">
</head>
<body>
    <h1>Mi página</h1>
    <h1>Título 2</h1>
    <div id="container">
        <p class="text-large space-bottom">Mi págita tiene estilos de CCS</p>
        <p class="text-medium space-bottom">Maomenos</p>
    </div>

    <div id="container2">
        <p class="text-large">Ni pánita tiene estilos de CCS 2</p>
        <p class="text-medium">Maomenos 2</p>
    </div>

    <div id="container3">
        <p class="text-large">Ni pánita tiene estilos de CCS 3</p>
        <p class="text-medium">Maomenos 3</p>
    </div>
</body>
</html>